appdirs==1.4.3
attrs==19.3.0
bitalino==1.2.1
black==19.10b0
cffi==1.13.2
Click==7.0
cycler==0.10.0
gevent==1.4.0
greenlet==0.4.15
kiwisolver==1.1.0
matplotlib==3.1.2
msgpack==0.6.2
neovim==0.3.1
numpy==1.22.0
pandas==1.0.0
pathspec==0.7.0
PyBluez==0.23
pycparser==2.19
pynvim==0.4.0
pyparsing==2.4.6
pyserial==3.4
PySide2==5.14.0
python-dateutil==2.8.1
pytz==2019.3
Qt.py==1.2.3
regex==2020.1.8
shiboken2==5.14.0
six==1.14.0
sounddevice==0.3.14
toml==0.10.0
typed-ast==1.4.1
websocket==0.2.1
websockets==8.1
appdirs==1.4.3
attrs==19.3.0
bitalino==1.2.1
black==19.10b0
cffi==1.13.2
Click==7.0
cycler==0.10.0
gevent==1.4.0
greenlet==0.4.15
kiwisolver==1.1.0
matplotlib==3.1.2
msgpack==0.6.2
neovim==0.3.1
numpy==1.22.0
pandas==1.0.0
pathspec==0.7.0
PyBluez==0.23
pycparser==2.19
pynvim==0.4.0
pyparsing==2.4.6
pyserial==3.4
PySide2==5.14.0
python-dateutil==2.8.1
pytz==2019.3
Qt.py==1.2.3
regex==2020.1.8
shiboken2==5.14.0
six==1.14.0
sounddevice==0.3.14
toml==0.10.0
tqdm==4.42.0
typed-ast==1.4.1
websocket==0.2.1
websockets==8.1
